<!--BLOG SECTION-->
<section id="project" class="cd-section section-blog">
 <div class="container">
          <div class="row">
                      <div class="row">
           <div class="col-md-8">
             <div class="box-content">
                <div class="blog-item first-child">
                    <div class="blog-img"><img src="images/favorite-time-alt.jpg" alt="" /></div>
                    <div class="blog-desc box-text">
                        <h2>FAVORITE TIME OF THE YEAR <span class="date-blog"> March 15, 2015 // Post of the Month</span></h2>
                        This is my favorite time of the year. The hope. The excitement. The change that is inevitable. Enjoy this through your day on and off the mat. We entered the month as a lion so we end as a lamb and, whether Mother Nature decides to join us, allow yourself that softness. That kindness. That sweetness. It’s Spring Equinox! It’s the Persian New Year! It’s my birthday!

Sukha in Sanskrit is happiness or ease or pleasure. Practice Sukha on your mat to yourself, and as you move from there, practice it on the streets of New York City. Find the blossoms, the laughter of children and the birds chirping. That seems natural for us. But can you practice it with construction? Colder days? Honking horns? My windows were open for the first time in a long time the other day and I actually smiled at the sound of large machines pounding on the cement. Find Sukha in it all.<br>

~Krissy Shields
                    </div>
                 </div>
                 
                 <div class="blog-item">
                    <iframe id="soundcloud_widget"
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/61111476&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                    <div class="blog-desc box-text">
                        <h2>Gratitude Practice<span class="date-blog">September 14, 2014 // Asana Practice</span></h2>
                        
                          <strong>She’s the First</strong> sponsors girls’ education in low-income countries, giving them the chance to become the first in their families to graduate from secondary school.To fulfill this mission, She’s the First mobilizes supporters to fund scholarships and gives a clearer understanding on complex global issues related to poverty.

Harnessing technology and social media, She’s the First is committed to connecting sponsors and scholars around the world in innovative, mutually beneficial ways to foster mentorship, philanthropy, equality, and leadership. Ultimately, our student leaders and scholars become the change agents who break cycles of generational poverty and transform our world.<br> ~Mission statement found at www.shesthefirst.org
                    </div>
                </div>
                <div class="blog-item">
                    <div class="video-container">
                         <iframe height="298" width="397" src="http://www.youtube.com/embed/W6UysuFkSys?wmode=transparent&amp;showinfo=0&amp;autoplay=0&amp;rel=0" frameborder="0" allowfullscreen="true"></iframe>
                    </div>
                    <div class="blog-desc box-text">
                        <h2>Heart Opening Flow <span class="date-blog">March 2, 2015 // Asana Practice</span></h2>
                        Begin in sukkasana, comfortable seat. Ground your sitting bones into the mat to lengthen the spine and bring the shoulders down the back to lift the heart.
Inhale the arms up overhead and on an exhale, twist to the right, placing your left hand outside the right knee and planting the right hand behind you.<p>
<li>
Inhale back to center and exhale twisting to the left<li>
Return to center, come to hands and knees and take a few rounds of cat/cow.<li>
Step back to plank then lower to bhujangasana<li>
Exhale and lower the forehead to the mat, inhale lift the heart and return to cobra.<li>
Repeat several times<li>
Exhale to adha mukka svanasana<li>
Inhale the right leg up into a down dog split<li>
Exhale and step the foot between the hands, lower the left knee and the top of the foot to the mat and rise into a low lunge. Reach the arms up and lean back to deepen the backbend and open the heart<li>
Step back to plank and move through a vinyasa<li>
Lunge on the left side<li>
Vinyasa<li>
Down dog split with the right leg<li>
Step the foot forward to a low lunge with the knee off the mat. Reach the heart forward.
Keep the left palm planted on the mat and inhale the right arm up, coming into a twist
Release the twist and inhale the arms up into a high lunge<li>
Warrior 3<li>
Release the top leg and come into uttkatasana<li>
Bring the hands to prayer and twist to the right<li>
Return to uttkatasana and twist to the left<li>
Uttanasana<li>
Vinyasa<li>
Repeat sequence on the left<li>
Instead of a vinyasa, lower all the way down from plank and inhale into shalabasana<li>
Adha mukka svanasana<li>
Inhale the right leg up to down dog split<li>
Step the foot forward and inhale into a high lunge<li>
Bring the arms to prayer and twist to the right in parivrtta parsvakonasana<li>
Return to high lunge and step the back foot in so the entire sole of the foot rests on the mat and fold over the front leg in parsvatonasana<li>
Step back to plank and take a vinyasa<li>
Repeat sequence on the left side<li>
Come to sit on your knees, please the hands on the sacrum and lift the heart and hips <li>forward into ustrasana. Reach for the heels with the hands to go deeper<li>
Child’s pose<li>
Supine twist<li>
Savasana</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="video-container">
                      <iframe height="298" width="397" src="http://www.youtube.com/embed/1PgLCAbvIPg?wmode=transparent&amp;showinfo=0&amp;autoplay=0&amp;rel=0" frameborder="0" allowfullscreen="true"></iframe>

                    </iframe>

                    </div>
                    <div class="blog-desc box-text">
                        <h2>Tropical Training Immersion <span class="date-blog">September 14, 2014 // Retreats</span></h2>
                        
                      <strong>Feb. 9 – March 1, 2015 // In The Matapalo, Osa Peninsula, Costa Rica</strong><br>
                       The Sonic Yoga 200-hr certification Tropical Teacher Training Immersion will begin as you land in the Tropical Paradise of Matapalo. An off the grid nirvana at the edge of the largest National Park on the Osa Peninsula in Costa Rica. This is a magical opportunity to unplug, to be in the flow of the mystery of your life and to earn your Yoga Teacher Certifcation all at the same time. We are looking forward to guiding you into this deep life changing transformative experience.<p>

                       <h1>arrival</h1>
Gathering at El Tumbo de las Olas, a beautiful, open air Casa with large comfortable common rooms, decks and a dipping pool, we’ll be welcomed by the local Tico’s Felipe and staff who will ensure a comfortable and safe stay. After an opening dinner we will gather and relax at the Casa, share stories and get to know our new Yoga family. Plus, take a peek into what to expect for the weeks ahead. Later heading to sleep as the tropical breezes ull us into a deep and restful sleep.<p>

<h1>mornings</h1>
Start off your days sweetly awakened by sounds of howler monkeys and macquaws, showering under the deep fragrant jungle foliage. We will walk down shaded trails to the Casa Grande to have tea and exotic fruit before bathing in a 2-hour sadhana practice, including pranayama meditation and asana. Afterwards we meet for a breakfast feast by the cuilinary staff. All ingredients are fresh, grown from local farms and prepared with love.

Late morning we will dive deep into Yoga studies by breaking down asana, learning cueing, modification, alignment and hands on assists for a myriad of poses. Then we each practice our teaching skills and receive constructive feedback from the teachers<p>

<h1>afternoons</h1>
After an amazingly nourishing lunch feast, there’s a 3-hour break to ride the surf, swim in the turquoise ocean, collect shells, lounge in hammocks, sunbathe, swim in our dipping pool or explore jungle trails to hidden waterfalls! Go on adventure tours to swim or kayak with dolphins and see amazing sealife!

Late afternoons we gather for lectures, covering topics that take us into the rich roots and philosophy of Yoga, including anatomy, history, pranayama, meditation, philosophy, Ayurveda, sequencing, Karma yoga, business of Yoga and more. If we feel like a late afternoon practice, we’ll slide back to the yoga deck, sun-kissed perhaps, for a restorative practice, yoga nidra (sleepless sleep), and maybe some bonding, sharing, journaling…whatever blow our way, we’ll stay connected in the flow.<p>

<h1>evenings</h1>
A final dinner feast is served as the sun goes down. Aferwards, we can explore the trails with our flashlights as we unwind into the dark calm of the jungle. Certain evenings we will gather for special rituals including fire ceremonies, writing, drumming and Trance Dance. Other nights you might choose an evening beach walk in the darkness to the local bar (Martina’s) to catch up with the local going-on’s or melt into your mosquito-netted, 4-post bed to be lulled to sleep by the absolute calm of the jungles….catching up on the dreams you’ve been missing out on.<p>

                       <p>
                    </div>
                </div>

                <div class="blog-item first-child">
                    <div class="blog-img"><img src="images/spring-equinox.jpg" alt="" /></div>
                    <div class="blog-desc box-text">
                        <h2>Spring Equinox: Time To Serve <span class="date-blog"> March 2, 2015 // Asana Practice</span></h2>
                        The Spring Equinox will take place on March 20, marking the end of winter and the beginning of spring.  The equinox is a biannual astrological event that occurs when the plane of Earth’s Equator passes the center of the Sun, at which point the tilt of Earth’s axis neither inclines away from nor towards the Sun, resulting in day and night being equal in length. Literally and figuratively, the Spring Equinox marks the transition out of darkness and into the light. It is a moment of rebirth and as such, it is a wonderful time to check in with yourself and set goals for the months ahead. While the Autumn Equinox is an appropriate time for inner goals, the Spring Equinox is an opportunity to think of ways in which you can serve the world around you, whether that be volunteering in your community or simply spending more time with friends and family.

When it comes to your yoga practice, twists and heart openers are great asanas to incorporate this time of year. Twists are wonderful for their detoxifying and purifying effects on the internal organs. Try poses such as ardha matseyandrasana, parivrtta uttkatasana or a more gentle supine twist. Practicing heart opening poses opens us up to opportunities for growth, which we can then use to serve the community. Examples include bhujangasana,  dhanurasana, ustrasana, and urdhva dhanurasana. Here is a brief sequence you can practice at home that incorporates both twisting and heart opening.

So during this time of rebirth and transition out of the darkness and inward reflection of winter and into the light of spring, take some time to think about where you are in your life and where you want to be, paying particularly attention to ways in which you can serve your community and others. Keep your heart and your mind open to the opportunities around you, you never know where they will come from and where they will lead you.<p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
          <div class="col-md-4">
          <div class="box-content right-position">
               <div class="blog-right-column">
                 <h2>Categories</h2>
                 <ul>
                      <li><a href="#"><i class="fa fa-angle-double-right"></i>Asana Practice</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> 200-hr certification</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> 500-hr certification</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Continuing Education</a></li>
                     <li><a href="#"><i class="fa fa-angle-double-right"></i> Post of the Month</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Pose of the Month</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Retreats</a></li>
                      <li><a href="#"><i class="fa fa-angle-double-right"></i> Recipes</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i>Uncategorized</a></li>
                 </ul>
               </div>
            </div>
            <div class="box-content blog-r-posts">
               <div class="blog-right-column">
                 <h2>Recent Posts</h2>
                 <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Favorite time of the year</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Gratitude Practice: She’s The First</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Heart Opening & Twisting Flow </a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Tropical Teacher Training Immersion </a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> The Spring Equinox a Time to Serve</a></li>
                 </ul>
               </div>
            </div>
          </div>
        </div><!--close row-->
      </div><!--close container-->
 </section>
 <hr/>

<!--CAROUSEL-->

 <section id="relatedprojects" class="cd-section">
  <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content box-carousel">
             <h1> UPCOMING EVENTS & WORKSHOPS </h1>
             
               <div id="owl-demo-details" class="owl-carousel owl-theme owl-details">
                  <div class="item">
                     <img src="images/spring-equinox-carousel.jpg" alt="yogathon" />
                     <p class="details-title">Spring Equinox Yogathon</p>
                     <p class="details-desc">Transform your being and someone else's life by pledging yourself to 30 days of yoga at Sonic! Runs 3/20 through 4/16 *</p>
                  </div>
                  <div class="item">
                     <img src="images/pranayama-carousel.jpg" alt="pranayama" />
                     <p class="details-title">Diving Deeper: Pranayama II</p>
                     <p class="details-desc">Pranayama is practiced to generate positive feelings, calm, heal, cleanse and vitalize the nerves, lungs and bloodstream. </p>
                  </div>
                  <div class="item">
                     <img src="http:images/beginners-carousel.jpg" alt="beginners" />
                     <p class="details-title">3-Week Beginners Workshop </p>
                     <p class="details-desc">Build a proper foundation for your practice. Utilize breathing techniques & alignment to understand fundamental postures.</p>
                  </div>
                  <div class="item">
                     <img src="images/energetics-carousel.jpg" alt="energetics" />
                     <p class="details-title">The energetics of being</p>
                     <p class="details-desc">Join Johanna for an afternoon of exploration from an energetic standpoint ~ playing with ways of enhancing and deepening presence.</p>
                  </div>
                </div>
               </div>
        </div><!--close 12-->
        </div><!--close row-->
      </div><!--close container-->
 </section>

<script type="text/javascript">
    /********************************************
    CLOSE PAGE DETAIL
    ********************************************/
    $(document).ready(function () {
        $(".close-redirect").click(function (event) {
            event.preventDefault();
            linkLocation = this.href;
            $("body").fadeOut(1000, redirectPage);
        });
        function redirectPage() {
            window.location = linkLocation;
        }
    });
   </script>
<script type="text/javascript">
    /********************************************
    CAROUSEL DETAIL
    ********************************************/
    $("#owl-demo-details").owlCarousel({

        autoPlay: 3000, //Set AutoPlay to 3 seconds

        items: 4,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3]

    });
</script>
</body>
</html>
 </section>