<!--CONTACT SECTION-->
<section id="locations" class="section-block container">
  <div class="row">
    <div class="col-md-12">
      <div class="title">

        <h1>Studio Locations</h1>
        <h2>MIDTOWN</h2>
        <span class="date-blog">Hells Kitchen</span><br>
 <div class="row">
        <div class="col-md-12">
          754 9th Avenue<br>
          212-397-6344<br>
          midtowninfo@sonicyoga.com<br>


 <div class="row">
    <div class="col-md-12">
      <div class="title">

 
        <h2>BROOKLYN</h2>
        <span class="date-blog">At Windsor Place</span><br>
         <div class="row">
        <div class="col-md-12">
   
          1626 8th Avenue<br>
          718-788-8788<br>
          brooklyninfo@sonicyoga.com<br>

 <div class="row">
    <div class="col-md-12">
      <div class="title">

<h2>OPEN HOUSES & CONSULTATIONS</h2>
  <span class="date-blog">Join Our Open House Or Set Up A Consultation.</span><br>
If you have more questions about our Teacher Training Programs, we offer more information at our open houses or at individual private consultations. <p>Please contact us today for further information and upcoming training dates.<br>
</p>
    


  <div class="row">
    <div class="col-md-12">
      <div class="title">

        <h2>MIDTOWN</h2>
      </header>
      <div class="row">
        <div class="col-md-12">

    <section id="section5" class="cd-section">
<!--GOOGLE MAPS-->
            <div id="map_container" >
                
          <map center="40.763819, -73.988292 " zoom="8" pan-control="true" map-type-control="true" zoom-control="true">
          <marker position="40.763819, -73.988292" on-click="click()" title="Click to zoom"></marker> 
          </map>


                <div class="cover-map">
                  <div class="content-map"><img src="images/map.png" alt="" /></div>
                  <div class="mm-open">Open the map <i class="fa fa-angle-down"></i></div>
                  <div class="mm-close">Close the map <i class="fa fa-angle-up"></i></div>

                        </div><!-- title -->
    </div><!-- col-md-12 -->
  </div><!-- row -->
    

 
    <div class="col-md-12">
      <div class="title">

        <h2>BROOKLYN</h2>
      </header>
      <div class="row">
        <div class="col-md-12">

    <section id="section5" class="cd-section">
    <!--GOOGLE MAPS-->
            <div id="map_container" >

                
          <map center="40.6609503, -73.983526 " zoom="8" pan-control="true" map-type-control="true" zoom-control="true">
          <marker position="40.6609503, -73.983526" on-click="click()" title="Click to zoom"></marker> 
                </map>


                <div class="cover-map">
                  <div class="content-map"><img src="images/map.png" alt="" /></div>
                  <div class="mm-open">Open the map <i class="fa fa-angle-down"></i></div>
                  <div class="mm-close">Close the map <i class="fa fa-angle-up"></i></div>
          
                        </div><!-- title -->
    </div><!-- col-md-12 -->
  </div><!-- row -->
    

  <div class="row">
    <div class="col-md-12">
      <div class="title">

    
    <script>
        $(".cover-map").on("click", function () {
            $(this).toggleClass("map-active");
            $(this).find(".mm-open").toggle();
            $(this).find(".mm-close").toggle();
        });
    </script>
<!--CONTACT SECTION-->
  <section id="locations" class="section-block container">
   <div class="row">
    <div class="col-md-12">
        <div class="title">
    <section id="section4" class="cd-section">
    <div class="container">
          <div class="row">
           <div class="col-md-12">
        <h1>Contact</h1>
                <div class="box-content contact">
                    <form id="contact_form" class="form email-form" method="post" action="" autocomplete="off">
                      <div class="col-md-6">
                        <input ng-model="name" type="subject" id="subject" class="input-contact"  placeholder="Subject"/>
                        <input ng-model="name" type="text" id="name" class="input-contact"  placeholder="Name"/>
                        <input ng-model="name" type="email" class="input-contact"  id="email" placeholder="E-mail"/>
                        
                      </div>
                      <div class="col-md-6">
                        <input ng-model="message" textarea type="text" name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                        <button type="submit" class="btn submit-contact"><i class="fa fa-envelope-o"></i>SUBMIT</button>
                        <p class="success">Your message has been sent successfully.</p>
                        <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                      </div>
                    </form>
                </div>
            </div>
      </div>
      </div>
  </section><!-- cd-section -->

        