<!--CONTACT SECTION-->

<!DOCTYPE html>
<html ng-app="contactApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">

  <!--<script type="text/javascript" src="angular/js/angular.js"></script>-->
  <script type="text/javascript" src="angular/js/angular.min.js"></script>

<body ng-app="contactApp">

<section id="section4" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
           
<div class="box-content contact">

<a name="studio-locations"></a>
<div></div>
<section id="contact" class="section-block container">
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <h1>Studio Locations</h1>
   
 <section id="contact" class="section-block container">  
  <div class="row">
    <div class="col-md-12">
      
      <header>
        <h2>MIDTOWN</h2>
      </header>
      <div class="row">
        <div class="col-md-12">
          Hells Kitchen<br>
          754 9th Avenue<br>
          212-397-6344<br>
          midtowninfo@sonicyoga.com<br>
        </div>
      </div>
    </div>

 <section id="contact" class="section-block container">  
  <div class="row">
    <div class="col-md-12">
   
      <header>
        <h2>BROOKLYN</h2>
      </header>
      <div class="row">
        <div class="col-md-12">
          Brooklyn<br>
          1626 8th Avenue (at Windsor Place)<br>
          718-788-8788<br>
          brooklyninfo@sonicyoga.com<br>
        </div>

         <section id="contact" class="section-block container">  
  <div class="row">
        <div class="col-md-12">
     <h2>OPEN HOUSES & CONSULTATIONS</h2>
      </header>
      <div class="row">
        <div class="col-md-12">
                           Join Our Open House Or Set Up A Consultation.
If you have more questions about our Teacher Training Programs, we offer more information at our open houses or at individual private consultations. Please contact us today for further information and upcoming dates.<br>


    <section id="section4" class="cd-section">
    <div class="container">
          <div class="row">
           <div class="col-md-12">
        <h1>Contact</h1>
                <div class="box-content contact">
                 
                    <form name="contact_form" novalidate ng-submit="login() class="form email-form" autocomplete="off">
                      <div class="col-md-6">
                        <input type="text" name="subject" id="subject" class="input-contact"  placeholder="Subject"autofocus ng-model="user.email" ng-required="true"/>
                        <input type="text" name="name" id="name" class="input-contact"  placeholder="Name"autofocus ng-model="user.email" ng-required="true"/>
                        <input type="email" name="email" class="input-contact"  id="email" placeholder="E-mail" autofocus ng-model="user.email" ng-required="true"/>
                        
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                        <button ng-disabled="myform.$invalid" type="submit" class="btn submit-contact"><i class="fa fa-envelope-o"></i>SUBMIT</button>
                        <p class="success" ng-show="myform.email.$valid && myform.email.$touched">Your message has been sent successfully.</p>
                      </div>
                    </form>
                </div>
            </div>
      </div>
      </div>
  </section><!-- cd-section -->
               

              </section><!-- cd-section -->

    </script>
</body>
</html>