<!--SECTION SCHEDULE-->
<!DOCTYPE html>
<html lang="en" ng-app="yogaClassApp">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">

<!-- LOAD ANGULAR, FIREBASE & ANGULAR FIRE LIBRARIES AND CUSTOM APP.JS -->
        <script src="app/js/angular.min.js"></script>
        <script src="app/js/angular-route.min.js"></script>
        <script src="app/controllers/yogaClassControllers.js"></script>
        <script src="app/controllers/yogaClassFilters.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
<script src="app/app.js"></script>

</head>
<body>
	<script>
	var myDataRef = new Firebase('https://yogaspascheduler.firebaseio.com');
	</script>

<a id="class_schedule"></a>
<div></div>

<!-- SCHEDULER -->
<section id="schedule" class="section-block" ng-controller="yogaClassControllers">
	<div class="row">
	  <div class="col-md-12">
	    <div class="title">
	    
	      <h4>Find out which classes are right for you!</h4>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-3">
	    <div class="search">
	      
<!-- FILTERING -->
	      <div class="preference-filter text-field-filter">
	        <label>Day</label>
	        <div class="row">
	          <div class="col-md-12">
	            <input type="text" ng-model="filter.day" placeholder="Day of the Week">
	          </div>
	        </div>
	      </div>
	      <div class="preference-filter">
	        <label>Class</label>
	        <div class="row">
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="classNames.allLevelsFlowClass"> All Levels Flow
	          </div>
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="classNames.levelOneClass"> Level I
	          </div>
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="classNames.levelTwoClass"> Level II
	          </div>
	        </div>
	      </div>
	      <div class="preference-filter text-field-filter">
	        <label>Teacher</label>
	        <div class="row">
	          <div class="col-md-12">
	            <input type="text" ng-model="filter.teacher" placeholder="Name of Teacher">
	          </div>
	        </div>
	      </div>
    
	      <div class="preference-filter">
	        <label>Studio</label>
	        <div class="row">
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="studios.hellsKitchen">
	            Midtown 
	          </div>
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="studios.brooklyn"> Brooklyn
	          </div>
	        </div>
	      </div>
	      <div class="preference-filter last-item">
	        <label>Level</label>
	        <div class="row">
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="levels.allLevels"> All
	          </div>
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="levels.levelOne"> I
	          </div>
	          <div class="col-md-12">
	            <input type="checkbox" ng-model="levels.levelTwo"> II
	          </div>
	        </div>
	      </div>

	    </div>
	  </div>

	  <div class="col-md-9">
	    <table class="table table-bordered table-striped table-hover">
	      <tbody>
	        <tr>
	          <th>Begins</th>
	          <th>Ends</th>
	          <th>Day</th>
	          <th>Class</th>
	          <th>Teacher</th>
	          <th>Studio</th>
	          <th>Level</th>
	        </tr>
	        <tr ng-repeat="yogaClass in classes | filter:query | orderBy:dayNumber | filter:{day: filter.day} | filter:{teacher: filter.teacher} | classNameFilter:classNames | studioFilter:studios | levelFilter:levels">
	          <td>{{yogaClass.startTime}}</td>
	          <td>{{yogaClass.endTime}}</td>
	          <td>{{yogaClass.day}}</td>
	          <td><a href="#/classes/{{yogaClass.id}}">{{yogaClass.yogaClassName}}</a></td>
	          <td>{{yogaClass.teacher}}</td>
	          <td>{{yogaClass.studio}}</td>
	          <td>{{yogaClass.level}}</td>
	        </tr>
	      </tbody>
	  </div>
	</div>
</div>
</table>
</section>

<!-- COURSE DESCRIPTIONS -->
  <section id="descriptions" class="section-block container">
   <div class="row">
    <div class="col-md-12">
        <div class="title">
    
        <h1>Course Descriptions</h1>
        <h2>Level 1</h2>
        <span class="date-blog">Advanced Beginner to Intermediate</span><br>
This practice creates a balance of heat and calm. It begins with an opening focus and a gentle warm-up then moves into a moderately-paced standing flow. Expect moments of adventure as you begin exploring more complex peak postures. You’ll return to the mat to balance your practice with savasana and meditation. It is a stilling journey that leaves you refreshed and restored.


 <div class="row">
    <div class="col-md-12">
      <div class="title">

 
        <h2>All Levels</h2>
        <span class="date-blog">Intermediate</span><br>
This blended class provides is a intelligent multi-level experience. Beginning with an opening focus and breath work, it moves on to flowing postures with plenty of opportunities to discover a peaceful edge and sense of adventure. A delicious dissolve culminates in savansana and meditation. Expect to cultivate a purifying heat in the body as you and leave inspired and alive.</p> 

 <div class="row">
    <div class="col-md-12">
      <div class="title">

<h2>Level 2</h2>
 <span class="date-blog">Intermediate</span><br>
This powerful, often sweat drenching practice cultivates cleansing heat in the body and builds strength, stamina and focus. Flow 2 begins standing and moves into a 50-minute dynamic standing flow, incorporating a wide-range of arm-balances and “sense of adventure poses.” The pace is brisk, yet intelligent, and the intensity and heat come more from the pace than from the holds or complexity. From here, we move to the mat for deeper, longer forward, back and hip-opening postures, 5-minutes of dynamic core work and deliver you into a scrumptious savasana and final meditation. Flow 2 is a vibrant journey that leaves you refreshed, inspired and alive.</p>
      </div>
    </div>
  </div>

<!-- BANNERS -->
  	<section id="section2" class="cd-section">
		<div class="container">
          <div class="row">
		    <div class="box-content">
                <div class="col-md-4">
                    <div class="box-text">
                    	 <img src="images/yoga-pose-one.jpg">
                        <h2>2 month trial for new members</h2>
                        Are you new to yoga? Want to try our classes without making a long term commitment?
                        <a href="#passes"><button type="button">Learn More</button></a> 
					</div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/yoga-stock-photo-4.jpg" alt="" />
				<h2>PRICING</h2>
                        <p><span class="date-blog"><strong>A joyful investment in your mind, body, and spirit</strong></span></p>
                           * Drop in <strong>$20</strong><br>
                            * New monthly member <strong>$75</strong><br>
                             * Monthly Auto Renewing <strong>$99</strong></br>
                               * 10 Class Pass <strong>$175.00</strong></br>
                           * 2 Months Unlimited Yoga <strong>$199</strong><br>
						 </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                    	 <img src="images/yoga-pose-two.jpg">
                        <h2>10 class pass for only $99</h2>
                        Our annual summer promotion is here! Strike a balance between all of your summer activities and maintaining a consistent and regular yoga practice.<p>

                       <a href="#passes"><button type="button">Learn More</button></a> 
                        
                    </div>
                 </div>
             </div>
</section>

<!-- PASSES & RATES // ACCORDION CONTROL -->
<section id="passes" class="section-block container">
	<div class="title row">
		<h1>Passes & Rates</h1>

		<h4>We offer a wide range of classes & levels.</h4><p>
		<h4>Everyone has an opportunity to incorporate yoga<h4><p>
		<h4> into their lifestyle.</h4>
	</div>

	<div class="memberships">
		<div ng-controller="AccordionCtrl">
		  <accordion close-others="oneAtATime">
		  	<accordion-group heading="Month to Month" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      		<p><h2>Monthly Unlimited</h2></p>
      		 <span class="date-blog">Available for $105.</span><br>
      		<h5>Enjoy unlimited yoga classes at both studio locations.<br> There is no contract and membership fee is charged monthly to your credit card.<br>
      		 This option is perfect for those who practice two times per week or more.</h5>
      		<p class="buy-now"><a href="">Buy online now</a></p>
    		</accordion-group>
    		<accordion-group heading="Drop In">
    		<p><h2>Drop In</h2></p>
    		<span class="date-blog">Available for $20</span><br>
      		<h5>A great option when you're just around for a day. No need to register or commit. Just show up!</h5>
      		<ul>
	      	
	      	</ul>
    		</accordion-group>
    		<accordion-group heading="2 Month Trial for New Members">
    			<p><h2>New Member Special</h2></p>
    			<span class="date-blog">Available for $75.</span><br>
      		<h5>An afforable way to get familiar with our studio and our variety of teachers and class styles.<br> First time students only, activates on the date of purchase.</h5>
      		<p class="buy-now"><a href="">Buy online now</a></p>
    		</accordion-group>
    		<accordion-group heading="Class Pass">
    			<p><h2>Class Passes</h2></p>
      		<h5>Class passes are perfect for students who wish to take class once or twice a week.<br> Passes are valid for 6 months and may be used at both locations.</h5><br>
      		<ul>
	      		<li><span class="date-blog">$92.50</span> - 5 class pass - $18.50 per class, Expires 1 year after purchase</li>
	      		<li><span class="date-blog">$175.00</span> - 10 class pass - $17.50 per class, per class, Expires 1 year after purchase</li>
	      		<li><span class="date-blog">$99.00</span> - Monthly renewing - Best value! Free mat storage, 2 guest passes a year, 3 month commitment, 30 days notice required for freeze or cancellation</li>
	      		<li><span class="date-blog">$69.00</span> - Senior/Student Monthly - Free mat storage, 2 guest passes a year, 3 month commitment (Only available in-person with valid ID), 30 days notice required for freeze or cancellation </li>
	      		<li><span class="date-blog">Pay What You Can</span> - Recommended $5 donation</li>
	      		<li><span class="date-blog">$150.00</span> - Single Month Unlimited </li></p>
	      	</ul>
      		<p class="buy-now"><a href="">Buy online now</a></p>
    		</accordion-group>
    		<accordion-group heading="Annual">
    		 	<p><h2>Annual Membership</h2></p>
    		 	<span class="date-blog">Available for $1044.</span><br>
      		<h5>Our best value yet ~ as it works out to be $20.00 per week!<br> If you practice more than twice a week, this package is the best value.</h5><br>
      		<ul>
	      		<li>A 12-month contract applies</li>
	      		<li>Unlimited classes at both locations</li>
	      	</ul></p>
      		<p class="buy-now"><a href="">Buy online now</a></p>
    		</accordion-group>
		  </accordion>
		</div>
	</div>
</section>
<body>
	</html>

